<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>E=DC<sup>2</sup></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>
  <body>

  </body>
</html>
