<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>E=DC<sup>2</sup></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>
  <body>
    <span class="approach">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla pharetra aliquet. Phasellus luctus elementum diam, sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lorem arcu.</p>
      <div class="icons">
        <img src="public/img/placeholder.png" alt="">
        <span>Touch The People</span>
        <img src="public/img/placeholder.png" alt="">
        <span>Energy Of Ideas</span>
        <img src="public/img/placeholder.png" alt="">
        <span>Prototyping</span>
      </div>
      <section>
        <p>Touch The People</p>
        <img src="public/img/left-chevron.png" alt="">
        <img src="public/img/right-chevron-chevron.png" alt="">
        <img src="public/img/placeholder.png" alt="">
        <p>Integer at justo velit. Vestibulum et imperdiet nunc. Quisque egestas lacinia ante sed tempus. Vestibulum diam tellus, lacinia sit amet dictum id, vehicula vel justo. Vestibulum aliquet enim quis ornare facilisis. Nam cursus, massa non dapibus viverra, tortor velit semper ligula, a feugiat diam arcu sit amet tortor. Proin convallis, nulla elementum luctus dapibus, urna purus consectetur felis, sit amet dictum purus lectus in massa.</p>
      </section>
      <section>
        <p>Energy Of Ideas</p>
        <img src="public/img/left-chevron.png" alt="">
        <img src="public/img/right-chevron-chevron.png" alt="">
        <img src="public/img/placeholder.png" alt="">
        <p>Integer at justo velit. Vestibulum et imperdiet nunc. Quisque egestas lacinia ante sed tempus. Vestibulum diam tellus, lacinia sit amet dictum id, vehicula vel justo. Vestibulum aliquet enim quis ornare facilisis. Nam cursus, massa non dapibus viverra, tortor velit semper ligula, a feugiat diam arcu sit amet tortor. Proin convallis, nulla elementum luctus dapibus, urna purus consectetur felis, sit amet dictum purus lectus in massa.</p>
      </section>
      <section>
        <p>Prototyping</p>
        <img src="public/img/left-chevron.png" alt="">
        <img src="public/img/right-chevron-chevron.png" alt="">
        <img src="public/img/placeholder.png" alt="">
        <p>Integer at justo velit. Vestibulum et imperdiet nunc. Quisque egestas lacinia ante sed tempus. Vestibulum diam tellus, lacinia sit amet dictum id, vehicula vel justo. Vestibulum aliquet enim quis ornare facilisis. Nam cursus, massa non dapibus viverra, tortor velit semper ligula, a feugiat diam arcu sit amet tortor. Proin convallis, nulla elementum luctus dapibus, urna purus consectetur felis, sit amet dictum purus lectus in massa.</p>
      </section>
      <img class="FAB" src="public/img/backtotop.png" alt="Back to top">
    </span>
  </body>
</html>
