<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>E=DC2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/css/index.css">
    <script type="text/javascript" src="js/index.js"></script>
</head>

<body>
    <span class="main-content">
    <img class="logo" src="img/logo.jpg" alt="logo">
    <footer>
      <div class="copyright"><span>&copy; 2017:</span><a href="mailto:thisisdom4@gmail.com">thisisdom4@gmail.com</a></div>
    <div class="links">
        <img class="online" src="img/online.svg" alt="">
        <a class="chat" href="#">LIVE CHAT</a>
        <a target="_blank" href="https://www.behance.net/this_is_dom_">PORTFOLIO</a>
        <a target="_blank" href="https://github.com/NiqueDaSneak">GITHUB</a>
        <a class="toggle" href="">MORE</a>
    </div>
    </footer>
    <div class="menu">
        <a target="_blank" href="https://www.linkedin.com/in/thisisdom/">LINKEDIN</a>
        <a target="_blank" href="https://resume.creddle.io/resume/9ayo421e0q2">RESUME</a>
        <a target="_blank" href="https://open.spotify.com/user/niquedasneak">SPOTIFY</a>
        <a target="_blank" href="https://medium.com/@niquedasneak">MEDIUM</a>
    </div>
    </span>
    <span class="chat-ui">
      <header>
        <a href="#">LEAVE DOMbot</a>
      </header>
      <div class="messages">
      </div>
      <div class="btns">
        <a href="#"></a>
        <a href="mailto:thisisdom4@gmail.com"></a>

      </div>
  </span>
</body>

</html>
