
doctype html
html
  head
    meta(charset='utf-8')
    title E=DC2
    meta(name='viewport', content='width=device-width,initial-scale=1')
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/css/index.css')
    script(type='text/javascript', src='js/index.js')
  body
    img.logo(src='img/logo.jpg', alt='logo')
    footer
      .copyright
        | © 2017: 
        a(href='mailto:thisisdom4@gmail.com') thisisdom4@gmail.com
      .links
        img.online(src='img/online.svg', alt='')
        |  
        a(target='_blank', href='#') LIVE CHAT
        |  
        a(target='_blank', href='https://www.behance.net/this_is_dom_') PORTFOLIO
        |  
        a(target='_blank', href='https://github.com/NiqueDaSneak') GITHUB
        |  
        a(target='_blank', href='#') MORE