doctype html
html
  head
    meta(charset='utf-8')
    title E=DC2
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/css/index.css')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    script(type='text/javascript', src='js/index.js')
  body
    .hide-orientation.display-none
      img(src='img/rotate.svg', alt='Rotate phone back')
    span.main-content
      img.logo(src='img/newlogo.png', alt='logo')
      p Dom: Designer, Software Engineer, Human Being
      footer
        .copyright
          span &copy; 2018:
          a(href='mailto:thisisdom4@gmail.com') thisisdom4@gmail.com
        .links
          a.chat(href='#') MY APPROACH
          |
          a(target='_blank', href='https://resume.creddle.io/resume/9ayo421e0q2') RESUME
          |
          a(target='_blank', href='https://github.com/NiqueDaSneak') GITHUB
          |
          a.toggle(href='') MORE
      .menu
        a(target='_blank', href='https://www.linkedin.com/in/thisisdom/') LINKEDIN
        |
        a(target='_blank', href='https://open.spotify.com/user/niquedasneak') SPOTIFY
        |
        a(target='_blank', href='https://medium.com/@niquedasneak') MEDIUM
    span.chat-ui
      header
        a(href='#') EXIT
      .messages
      .btns
