doctype html
html
  head
    meta(charset='utf-8')
    title E=DC2
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')

    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/css/index.css')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    script(type='text/javascript', src='js/index.js')
  body
    .hide-orientation.display-none
      img(src='img/rotate.svg', alt='Rotate phone back')
    span.main-content
      img.logo(src='img/newlogo.png', alt='logo')
      p Dom: Designer, Software Engineer, Human Being
      footer
        .copyright
          span &copy; 2018:
          a(href='mailto:thisisdom4@gmail.com') thisisdom4@gmail.com
        .links
          a.approach-btn(href='#') MY APPROACH
          |
          a(target='_blank',  href='https://resume.creddle.io/resume/9ayo421e0q2') RESUME
          |
          a(target='_blank', href='https://github.com/NiqueDaSneak') GITHUB
          |
          a.toggle(href='') MORE
      .menu
        a(target='_blank', href='https://www.linkedin.com/in/thisisdom/') LINKEDIN
        |
        a(target='_blank', href='https://open.spotify.com/user/niquedasneak') SPOTIFY
        |
        a(target='_blank', href='https://medium.com/@niquedasneak') MEDIUM
    .approach.hide
      p
        | Below you'll see a bit about the approach & tactics I bring to my work. No one has a magic formula that gives us the perfect insight about what our users want or need. But I try to stick to these three principles in everything I do.
      a(class='WIP-btn', href='#WIP-links') See Work In Production
      .icons
        img(src='/img/002-teamwork.png', alt='')
        div Touch The People
        img(src='/img/001-newton-cradle.png', alt='')
        div Energy Of Ideas
        img(src='/img/003-conveyor.png', alt='')
        div Rapid Prototyping
      section
        p Touch The People
        img(data-section='people' class='people-img gestureZone' src='/img/touchthepeople.png', alt='')
        img(class='arrow' data-direction='back' data-section='people' src='/img/left-chevron.png', alt='')
        img(class='arrow' data-direction='fwd' data-section='people' src='/img/right-chevron.png', alt='')
        p
          | 'Ergonomics and Human Factors'...I remember when my incessant Google Searching finally delivered the ultimate results. It was the key, in my mind, to understanding how I could help shape my corner of the internet; by using empathy and listening to inform what I build. My background in Communication helps me to keep the audience/end user in the forefront of my mind at all times. Empathy is a tool that I allow to drive the decisions I make when building anything. It is important that we get out and touch the people we actually are serving. Everyone can come up with ideas. Macro patience...micro persistence and speed...listening to understand...I believe these are the steps to creating something truly useful.
      section
        p Energy Of Ideas
        img(data-section='ideas' class='ideas-img gestureZone' src='/img/energyofideas.png', alt='')
        img(class='arrow' data-direction='back' data-section='ideas' src='/img/left-chevron.png', alt='')
        img(class='arrow' data-direction='fwd' data-section='ideas' src='/img/right-chevron.png', alt='')
        p
          | A favorite quote of mine: You have to be willing to throw out 99 good ideas for 1 great one. I think my ability to continuously come up with new ideas comes from my inherent silliness. I'm not afraid to say a couple of obviously strange ideas just to get the energy flowing. I believe coming up with great ideas is partially about getting in the zone and getting into a flow. It's sometimes good to think of what you don't want the output to be. Some people dread the proverbial bare white board, or blank page. Thats where I shine. I have no fear in just starting. I dont allow hesitation or trepidation keep me from coming up with something new.
      section
        p Rapid Prototyping
        img(data-section='proto' class='proto-img gestureZone' src='/img/rapidproto.png', alt='')
        img(class='arrow' data-direction='back' data-section='proto' src='/img/left-chevron.png', alt='')
        img(class='arrow' data-direction='fwd' data-section='proto' src='/img/right-chevron.png', alt='')
        p
          | It was very important to me as I progressed as a designer that I stay balanced by understanding engineering as well. We can always ask users for feedback on purely visual designs. However, I believe that how an experience makes a person feel is much more valuable feedback. That requires a more robust level of fidelity. The current stack of front-end technologies allow us to quickly conceptualize and then implement our designs so that we can put them in someone else's hands. I believe understanding those visceral/emotional reactions users give us when they can actually scroll, and swipe...or press...those nuances are what can take our ideas from good to great.
      img.FAB(src='/img/gohome.png', alt='Back to top')
      a(name='WIP-links')
      .WIP-links
        p Click the links below to see some of my current work that is live.
        div
          img(src='/img/TEDxCincinnati_main_logo.png', alt='')
          a(target='_blank', href='https://m.me/tedxcincinnati') Go To Chatbot
          a(target='_blank', href='https://drive.google.com/open?id=1Pl_CSUxl0P_KLzwmBCU9YHp_tRe69P5h') Watch Video
        div
          img(src='/img/logo-white-side.png', alt='')
          a(target='_blank', href='https://irrigatemsg.com/commerce') Go To Site
        div
          img(src='/img/bsllc.png', alt='')
          a(target='_blank', href='http://bsllc.biz/') Go To Site
