doctype html
html
  head
    meta(charset='utf-8')
    title E=DC2
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/css/index.css')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')
    script(type='text/javascript', src='js/index.js')
  body
    .hide-orientation.display-none
      img(src='img/rotate.svg', alt='Rotate phone back')
    span.main-content
      img.logo(src='img/newlogo.png', alt='logo')
      p Dom: Designer, Software Engineer, Human Being
      footer
        .copyright
          span &copy; 2018:
          a(href='mailto:thisisdom4@gmail.com') thisisdom4@gmail.com
        .links
          a.approach-btn(href='#') MY APPROACH
          |
          a(target='_blank', href='https://resume.creddle.io/resume/9ayo421e0q2') RESUME
          |
          a(target='_blank', href='https://github.com/NiqueDaSneak') GITHUB
          |
          a.toggle(href='') MORE
      .menu
        a(target='_blank', href='https://www.linkedin.com/in/thisisdom/') LINKEDIN
        |
        a(target='_blank', href='https://open.spotify.com/user/niquedasneak') SPOTIFY
        |
        a(target='_blank', href='https://medium.com/@niquedasneak') MEDIUM
    .approach.hide
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla pharetra aliquet. Phasellus luctus elementum diam, sit amet hendrerit nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu lorem arcu.
      .icons
        img(src='/img/002-teamwork.png', alt='')
        div Touch The People
        img(src='/img/001-newton-cradle.png', alt='')
        div Energy Of Ideas
        img(src='/img/003-conveyor.png', alt='')
        div Rapid Prototyping
      section
        p Touch The People
        img(class='arrow back people' src='/img/left-chevron.png', alt='')
        img(class='arrow fwd people' src='/img/right-chevron.png', alt='')
        img(src='/img/touchthepeople.png', alt='')
        p
          | Integer at justo velit. Vestibulum et imperdiet nunc. Quisque egestas lacinia ante sed tempus. Vestibulum diam tellus, lacinia sit amet dictum id, vehicula vel justo. Vestibulum aliquet enim quis ornare facilisis. Nam cursus, massa non dapibus viverra, tortor velit semper ligula, a feugiat diam arcu sit amet tortor. Proin convallis, nulla elementum luctus dapibus, urna purus consectetur felis, sit amet dictum purus lectus in massa.
      section
        p Energy Of Ideas
        img(class='arrow back ideas' src='/img/left-chevron.png', alt='')
        img(class='arrow fwd ideas' src='/img/right-chevron.png', alt='')
        img(src='/img/energyofideas.png', alt='')
        p
          | Integer at justo velit. Vestibulum et imperdiet nunc. Quisque egestas lacinia ante sed tempus. Vestibulum diam tellus, lacinia sit amet dictum id, vehicula vel justo. Vestibulum aliquet enim quis ornare facilisis. Nam cursus, massa non dapibus viverra, tortor velit semper ligula, a feugiat diam arcu sit amet tortor. Proin convallis, nulla elementum luctus dapibus, urna purus consectetur felis, sit amet dictum purus lectus in massa.
      section
        p Rapid Prototyping
        img(class='arrow back proto' src='/img/left-chevron.png', alt='')
        img(class='arrow fwd proto' src='/img/right-chevron.png', alt='')
        img(src='/img/rapidproto.png', alt='')
        p
          | Integer at justo velit. Vestibulum et imperdiet nunc. Quisque egestas lacinia ante sed tempus. Vestibulum diam tellus, lacinia sit amet dictum id, vehicula vel justo. Vestibulum aliquet enim quis ornare facilisis. Nam cursus, massa non dapibus viverra, tortor velit semper ligula, a feugiat diam arcu sit amet tortor. Proin convallis, nulla elementum luctus dapibus, urna purus consectetur felis, sit amet dictum purus lectus in massa.
      img.FAB(src='/img/backtotop.png', alt='Back to top')
