doctype html
html
  head
    meta(charset='utf-8')
    title E=DC2
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/css/index.css')
    script(type='text/javascript', src='js/index.js')
  body
    span.main-content
      img.logo(src='img/logo.png', alt='logo')
      footer
        .copyright
          span &copy; 2017:
          a(href='mailto:thisisdom4@gmail.com') thisisdom4@gmail.com
        .links
          img.online(src='img/online.svg', alt='')
          |  
          a.chat(href='#') LIVE CHAT
          |  
          a(target='_blank', href='https://resume.creddle.io/resume/9ayo421e0q2') RESUME
          |  
          a(target='_blank', href='https://github.com/NiqueDaSneak') GITHUB
          |  
          a.toggle(href='') MORE
      .menu
        a(target='_blank', href='https://www.linkedin.com/in/thisisdom/') LINKEDIN
        |  
        a(target='_blank', href='https://www.behance.net/this_is_dom_') BEHANCE
        |  
        a(target='_blank', href='https://open.spotify.com/user/niquedasneak') SPOTIFY
        |  
        a(target='_blank', href='https://medium.com/@niquedasneak') MEDIUM
    span.chat-ui
      header
        a(href='#') EXIT
      .messages
      .btns
