body {
  background-color: #011901;
  text-align: center; }

.main-content {
  display: none; }

.logo {
  padding-top: 20vh;
  width: 60vw;
  max-width: 300px; }

.online {
  width: 1vw;
  vertical-align: middle; }
  @media only screen and (min-width: 720px) {
    .online {
      width: .4vw; } }

footer {
  color: #4b535f;
  position: absolute;
  bottom: 10vh;
  width: 100vw;
  text-align: center; }
  footer .copyright {
    font-weight: 300;
    font-style: italic;
    font-size: 15px; }
    footer .copyright a {
      color: #4b535f;
      transition: color .6s; }
      footer .copyright a:hover {
        color: white; }
  footer .links {
    padding-top: 5vh;
    font-size: 4.4vw; }
    @media only screen and (min-width: 720px) {
      footer .links {
        font-size: 22px; } }
    footer .links a {
      font-weight: 300;
      padding-right: 4vw;
      text-decoration: none;
      color: #4b535f;
      transition: color .6s; }
      footer .links a:hover {
        color: white; }

.menu {
  text-align: center;
  height: 5vh;
  position: fixed;
  bottom: -5vh;
  width: 100vw;
  transition: bottom .5s; }
  .menu a {
    font-weight: 300;
    padding-right: 2vw;
    padding-left: 2vw;
    text-decoration: none;
    color: #4b535f;
    transition: color .6s;
    font-size: 4.4vw; }
    @media only screen and (min-width: 720px) {
      .menu a {
        font-size: 22px; } }
    .menu a:hover {
      color: white; }

.chat-ui {
  display: none; }
  .chat-ui header {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #4b535f;
    height: 10vh; }
    .chat-ui header a {
      color: white;
      line-height: 10vh; }
  .chat-ui .btns {
    position: fixed;
    bottom: 2vh;
    left: -66vw;
    transition: left .4s; }
    .chat-ui .btns button {
      display: block;
      color: white;
      font-size: 6.4vw;
      margin-top: 2vh;
      background-color: #4b535f;
      width: 64vw;
      border: none;
      padding: 1vh 0vh 1vh 0vh;
      border-radius: 0vh 2vh 2vh 0vh;
      font-weight: 300; }
      @media only screen and (min-width: 720px) {
        .chat-ui .btns button {
          width: 30vw;
          font-size: 1.6vw; } }
      .chat-ui .btns button a {
        text-decoration: none;
        color: white; }

.messages {
  height: 75vh;
  position: absolute;
  bottom: 8vh;
  margin-left: 4vw;
  margin-right: 4vw; }
  @media only screen and (min-width: 720px) {
    .messages {
      margin-left: 5.5vw; } }
  .messages p {
    color: #4b535f; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 300; }
