body {
  background-color: #011901;
  text-align: center; }

.main-content {
  display: none; }

.logo {
  padding-top: 20vh;
  width: 60vw;
  max-width: 300px; }

.online {
  width: 1vw; }
  @media only screen and (min-width: 720px) {
    .online {
      width: .4vw; } }

footer {
  color: #9ba1aa;
  position: absolute;
  bottom: 6vh;
  width: 100vw; }
  footer .copyright {
    font-weight: 300;
    font-style: italic;
    font-size: 15px; }
    footer .copyright a {
      color: #9ba1aa;
      transition: color .6s; }
    footer .copyright a:hover {
      color: white; }
  footer .links {
    padding-top: 5vh;
    font-size: 4.4vw; }
    @media only screen and (min-width: 720px) {
      footer .links {
        font-size: 22px; } }
    footer .links a {
      font-weight: 300;
      padding-right: 4vw;
      text-decoration: none;
      color: #9ba1aa;
      transition: color .6s; }
    footer .links a:hover {
      color: white; }

body {
  font-family: 'Roboto', sans-serif; }
