.chat-ui
  display: none
  header
    width: 100vw
    position: fixed
    top: 0
    background-color: $siteGrey
    height: 10vh
    a
      color: white
      line-height: 10vh
  .btns
    position: fixed
    bottom: 2vh
    left: -66vw
    transition: left .4s
    a
      text-decoration: none
    button
      display: block
      color: white
      font-size: 6.4vw
      margin-top: 2vh
      background-color: $siteGrey
      width: 64vw
      border: none
      padding: 1vh 0vh 1vh 0vh
      border-radius: 0vh 2vh 2vh 0vh
      font-weight: 300
      @include responsive
        width: 30vw
        font-size: 1.6vw
      a
        text-decoration: none
        color: white

.messages
  height: 75vh
  position: absolute
  bottom: 8vh
  margin-left: 4vw
  margin-right: 4vw
  @include responsive
    margin-left: 5.5vw
  p
    color: $siteGrey
