body
  background-color: $siteGreen
  text-align: center

.main-content
  display: none
  p:first-of-type
    color: $siteGrey
    opacity: 0
    transition: opacity 1s
    @include tablet
      font-size: 3.4vw
.main-content.approach-ui
  display: inline-block
  width: 100vw
  background-color: #1D352B
  transition: background-color .5s ease-in .6s
  height: 24vw
  position: fixed
  left: 0
  top: 0
  z-index: 1
  @include tablet
    height: 14vw
  @include desktop
    height: 6vw

.logo
  padding-top: 20vh
  width: 60vw
  max-width: 300px
  transition: width 1s, padding-top 1s, transform 1s
.logo.approach-ui
    width: 20vw
    padding-top: 1vh
    @include tablet
      width: 10vw
      padding-top: 1.5vh
    @include desktop
      width: 5vw
.logo.rotate
  transform: rotateY(180deg)

footer
  color: $siteGrey
  position: absolute
  bottom: 10vh
  width: 100vw
  text-align: center
  .copyright
    font-weight: $thin
    font-style: italic
    font-size: 15px
    @include tablet
      font-size: 2.6vw
    a
      color: $siteGrey
      transition: color .6s
      &:hover
        color: white
  .links
    padding-top: 5vh
    font-size: 4.4vw
    @include responsive
      font-size: 22px
    @include tablet
      font-size: 3.2vw
    a
      font-weight: $thin
      padding-right: 4vw
      text-decoration: none
      color: $siteGrey
      transition: color .6s
      &:hover
        color: white

.approach
  opacity: 0
  color: $siteGrey
  transition: opacity 1s
  p:first-of-type
    margin-top: 19vh
    width: 80vw
    margin-left: 10vw
    margin-bottom: 8vh
    @include tablet
      font-size: 3.6vw
      margin-bottom: 4vh
    @include desktop
      font-size: 1.4vw

.approach.hide
  display: none

.icons
  height: 60vh
  @include desktop
    height: 70vh
  img
    width: 24vw
    vertical-align: middle
    margin-left: 4vw
    @include tablet
      width: 14vw
      margin-left: 12vw
    @include desktop
      width: 10vw
      margin-left: 20vw
    &:first-of-type
    &:nth-of-type(2)
    &:last-of-type
  div
    display: inline-block
    width: 54vw
    margin-bottom: 6vh
    margin-top: 6vh
    font-size: 4.4vw
    @include tablet
      width: initial
      margin-bottom: 6vh
      margin-top: 6vh
      font-size: 4.4vw
      margin-right: 14vw
      margin-left: 6vw
    @include desktop
      width: auto
      font-size: 2.2vw
      margin-right: 24vw
      margin-left: 6vw
      margin-bottom: 10vh
    &:first-of-type
    &:nth-of-type(2)
    &:last-of-type
.approach
  z-index: 2
  section
    position: relative
    p
      &:first-of-type
        margin-top: 0vh
        margin-bottom: 2vh
        font-size: 6vw
        @include tablet
          font-size: 4.2vw
        @include desktop
          font-size: 2vw
      &:last-of-type
        margin-top: 6vh
        width: 80vw
        margin-left: 10vw
        margin-bottom: 14vh
        @include tablet
          font-size: 3vw
        @include desktop
          margin-top: 6.4vh
          margin-bottom: 20vh
    img
      &:first-of-type
        width: 100vw
        @include desktop
          width: 40vw
      &:nth-of-type(2)
        width: 3vw
        position: absolute
        left: 40vw
        top: 38vh
        @include tablet
          top: 48vh
        @include desktop
          left: 48vw
          width: 1vw
          top: 58vh
      &:last-of-type
        width: 3vw
        position: absolute
        right: 40vw
        top: 38vh
        @include tablet
          top: 48vh
        @include desktop
          right: 48vw
          width: 1vw
          top: 58vh

.FAB
  width: 18vw
  position: fixed
  bottom: 3vh
  right: 3vh
  @include tablet
    top: 48vh
  @include desktop
    width: 5vw
    bottom: 6vh
    right: 6vh
