body
  background-color: $siteGreen
  text-align: center

.main-content
  display: none
  p:first-of-type
    color: $siteGrey
    opacity: 0
    transition: opacity 1s
.main-content.approach-ui
  display: inline-block
  width: 100vw
  background-color: #1D352B
  transition: background-color .5s ease-in .6s
  height: 24vw
  position: fixed
  left: 0
  top: 0
  z-index: 1

.logo
  padding-top: 20vh
  width: 60vw
  max-width: 300px
  transition: width 1s, padding-top 1s, transform 1s
.logo.approach-ui
    width: 20vw
    padding-top: 1vh
.logo.rotate
  transform: rotateY(180deg)

.online
  width: 1vw
  vertical-align: middle
  @include responsive
    width: .4vw

footer
  color: $siteGrey
  position: absolute
  bottom: 10vh
  width: 100vw
  text-align: center
  .copyright
    font-weight: $thin
    font-style: italic
    font-size: 15px
    a
      color: $siteGrey
      transition: color .6s
      &:hover
        color: white
  .links
    padding-top: 5vh
    font-size: 4.4vw
    @include responsive
      font-size: 22px
    a
      font-weight: $thin
      padding-right: 4vw
      text-decoration: none
      color: $siteGrey
      transition: color .6s
      &:hover
        color: white

.approach
  opacity: 0
  color: $siteGrey
  transition: opacity 1s
  p:first-of-type
    margin-top: 19vh
    width: 80vw
    margin-left: 10vw
    margin-bottom: 8vh



.approach.hide
  display: none

.icons
  height: 60vh
  img
    width: 24vw
    vertical-align: middle
    margin-left: 4vw
    &:first-of-type
    &:nth-of-type(2)
    &:last-of-type
  div
    display: inline-block
    width: 54vw
    margin-bottom: 6vh
    margin-top: 6vh
    font-size: 4.4vw
    &:first-of-type
    &:nth-of-type(2)
    &:last-of-type
.approach
  z-index: 2
  section
    position: relative
    p
      &:first-of-type
        margin-top: 0vh
        margin-bottom: 2vh
        font-size: 6vw
      &:last-of-type
        margin-top: 6vh
        width: 80vw
        margin-left: 10vw
        margin-bottom: 14vh
    img
      &:first-of-type
        width: 5vw
        position: absolute
        left: 4vw
        top: 18vh
        display: none
      &:nth-of-type(2)
        width: 5vw
        position: absolute
        right: 4vw
        top: 18vh
        display: none
      &:last-of-type
        width: 100vw

.FAB
  width: 18vw
  position: fixed
  bottom: 3vh
  right: 3vh
